extends ../layout/common.pug

block content

form#javascript_form
  input(type='text' name='subject' placeholder='Subject')
  textarea(name='text' placeholder='Message')
  input#js_send(type='submit' value='Send')
