extends ../layout/common.pug

block content

	h1(class="text-center") This is my library
	h2(class="text-center")
		a(href='./users/index') Users Management
		br
		a(href='./transactions/create') Transactions Management

	form(action="/books/index", method="POST",class="d-flex m-4" enctype="multipart/form-data")
		label Title: 
		span &nbsp;
		input(type="text", name="title", class="form-control")
		label Description:
		span &nbsp;
		input(type="text", name="decs", class="form-control")
		label(for='bookCover') Book Cover
		input#avatar.form-control-file(name='image', type= "file")
		button(class="btn btn-primary mr-5") Create
	nav.d-flex.justify-content-end(aria-label='Page navigation example')



	button.btn.btn-danger
		a.text-white(href="./signUp/index") Sign Up
	button.btn.btn-primary
		a.text-white(href = './auth/login') Login
	
	
	ul.d-flex.flex-wrap
		each book in books
			.card.m-3(style='width: 300px ; height: 400px')
				img.card-img-top(src=book.image style='width: 300px ; height: 200px; object-fit: cover')
				.card-body
					h5.card-title=book.title
					p.card-text=book.decs
					a.btn.btn-primary.text-center.mb-2(href='/cart/add/'+ book.id) Borrow
					span &nbsp;
					br
					a.btn.btn-success(href="/books/" + book.id + "/update") Update
					span &nbsp;
					a.btn.btn-danger(href="/books/" + book.id+ "/delete") Delete

