h1 This is my library

form(action="/books/index", method="POST")
	label Title: 
	span &nbsp;
	input(type="text", name="title")
	label Description:
	span &nbsp;
	input(type="text", name="desc")
	button Create

ul
	each book in books
		li= book.title
		span &nbsp;
		a(href="/books/" + book.id + "/update") Update
		span &nbsp;
		a(href="/books/" + book.id + "/delete") Delete
