extends ../layout/common.pug

block content

	h1(class="text-center") This is my library
	h2(class="text-center")
		a(href='/users/index') Users Management

	form(action="/books/index", method="POST",class="d-flex m-4")
		label Title: 
		span &nbsp;
		input(type="text", name="title", class="form-control")
		label Description:
		span &nbsp;
		input(type="text", name="desc", class="form-control")
		button(class="btn btn-primary mr-5") Create

	ul
		each book in books
			li= book.title
			span &nbsp;
			a(href="/books/" + book.id + "/update") Update
			span &nbsp;
			a(href="/books/" + book.id + "/delete") Delete
