extends ../layout/common.pug

block content
	h1 Update the title
	form(action="/books/"+ id +"/update", method="POST",class="d-flex m-5")
		label Update Title
		span &nbsp;
		input(type="text", name="title" class="form-control")
		button(class="btn btn-primary") Update