extends ../layout/common.pug

block content	

	
	table.table
		thead
			th Avatar
			th Name
			th Update
			th Delete
		tbody
			each user in users
				tr
					td
						img.rounded-circle(src= user.avatarURL, width= 50, height= 50)
					td= user.name
					td
						a(href="/users/"+ user.id + "/update") Update
					td
						a(href="/users/"+ user.id + "/delete") Delete

