h1 List users
form(action="/users/index", method="POST")
	label User Name:
	span &nbsp;
	input(type="text", name="name")
	label User Email:
	span &nbsp;
	input(type="email",name="email")
	button Create
ul
	each user in users 
		li= user.name
		span &nbsp;
		a(href="/users/"+ user.id + "/update") Update
		span &nbsp;
		a(href="/users/"+ user.id + "/delete") Delete


