h1 Update User Info
form(method="POST" action="/users/" + id + "/update")
	label Update UserName
	input(type="text" name="name")
	label Update UserEmail
	input(type="email" name="email")
	button Update