extends ../layout/common.pug

block content

	h1(class="text-center text-primary") Update User Info
	form.m-3(action=`/users/${id}/update` method="POST", enctype="multipart/form-data" )
		.form-group
			label User Name:
			span &nbsp;
			input(type="text", name="name" class="form-control" value=name)
		.form-group
			label User Email:
			span &nbsp;
			input(type="email",name="email" class="form-control" value = email)
		
		.form-group
			label(for='avatar') Avatar
			input#avatar.form-control-file(name='avatarURL', type= "file")

		button(class="btn btn-primary") Update