extends ../layout/common.pug

block content	
	h1(class="text-center") Transactions Management
	p(class="text-center text-primary") Transaction: 
	h3(class="text-center") #{id}
	form(action="/transactions/"+ id+ "/complete" method="POST" class=" d-flex m-3 justify-content-center")
		
		select(name="isComplete" class="form-control w-25")
			option(value=1) True
			option(value=0) False
		button(class="btn btn-primary") Confirm