
extends ../layout/common.pug

block content
	h1 Borrow a book from the library

	form(action ="/transactions/create" method="POST" class="d-flex m-3")
		label(class="mr-3") UserName:
		span &nbsp;
		select(name="userId")
			each user in users
				option(value=user.id)=user.name
		label(class="mr-3") BookTitle: 
		span &nbsp;
		select(name="bookId")
			each book in books
				option(value=book.id)=book.title
		button(class="btn btn-primary") Borrow

	ul(class="mr-3")
		each tran in transactions
			li= tran.id
			span &nbsp;
			a(href='/transactions/'+ tran.id + "/complete") Complete